Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
Content/Wheels_N_Road.umap
Content/Wheels_N_Road_BuiltData.uasset
Content/Wheels_N_Road.umap
